
html, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    font-family: 'Nunito', sans-serif;
    font-size: 1em;
}

.wrapper{
    overflow-x: hidden;
}

.section{
    padding: 7% 4%;
}

.blue{
    color: #0052FF;
}

.white{
    color: white;
}

.black{
    color: black !important;
}

.shadow-bottom{
    box-shadow: 0 2px 20px 2px rgb(201, 200, 200);
    -moz-box-shadow: 0 2px 20px 2px rgb(201, 200, 200);
    -webkit-box-shadow: 0 2px 20px 2px rgb(201, 200, 200);
    -o-box-shadow: 0 2px 20px 2px rgb(201, 200, 200);
}

.white-background{
    background-color: white !important;
}

.holder{
    width: 90%;
}
.row-space{
    margin-bottom: 2%;
}

.grey-section{
    background-color:  #f5f5f5;
}



/* header section */
.header-contaier{
    position: relative;
    
}

/* navigation  */
.nav-lg{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    background-color:transparent;
    position: fixed;
    z-index: 45;
    width: 100%;
}

nav{
    background-color: transparent;
}

.nav-lg a{
    display:block ;
    text-decoration: none;
    color: white;
}

.nav-lg a:hover{
    display:block ;
    text-decoration: none;
    color: #0052FF !important;
}

.brand-holder{
    margin-left: 5%;
    padding-top: 2%;
    padding-bottom: 1.3%;
}

.nav-holder{
    padding: 2.5% 0 1.3% 3.9% ;
}

.home{
    margin-left: 32%;
}

.home a{
    color: #0052FF;
}


.nav-sm{
    display: none;
}


.nav-sm-dropdown{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.836);
    overflow-x: hidden !important;
    transition: 0.7s;
}


.nav-sm-dropdown a{
    text-decoration: none;
    color: white;
    display: block;
}

.nav-sm-dropdown .nav-holder{
    padding: 1.5% 0 1.5% 2% ;
}

.nav-sm-dropdown .nav-holder:hover{
    background-color:rgba(68, 66, 66, 0.842) ;
}

/* hero-section */
.hero-div{
    height: 650px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../images/hero-pic.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 16%;
    color: white;
}

.know-button{
    background-color: #0052FF;
    color: white;
    text-decoration: none;
    padding: 1.4% 4%;
}

.know-button:hover{
    background-color: #204eb1;
    text-decoration: none;
    color: white;
}

.hero-div h1{
    font-size: 4.5rem;
    letter-spacing: 0.2rem;
}

.hero-div p{
    margin-bottom: 2.5%;
}

/* features section */
.icons{
    width: 110px;
    height: 100px;
    margin-bottom: 2%;
}

/* depts section */
.description{
    margin-bottom: 5%;
}

/* services section */
.service{
    border-radius: 6px;
    padding: 10% 0;
    background-color: white;
}

.service:hover{
    cursor: pointer;
    color: white;
    background-color: #0052FF;
}

.service-card{
    padding: 1.5% 1.5%;
}

/* treatments section */
.treatment-holder{
    padding: 0 2%;
}

.treatment{
    padding: 4% 8%;
    border-radius: 6px;
    border: 1.5px solid #0052FF;
}

.treatment:hover{
    cursor: pointer;
    color: white;
    background-color: #0052FF;
}

/* faqs section */
.arrow{
    position: absolute;
    top: 2.7%;
    right: 0;
}

.faqs-holder{
    padding: 0 3%;
    margin-bottom: 8%;
}

.question{
    padding: 2.5% 2%;
    border-radius: 4px;
    border: 1.5px solid #0052FF;
    margin-bottom: 3%;
}

.question p{
    position: relative;
    margin-top: 3.5%;
}

.collapse-link, .collapse-link:hover{
    color: #0052FF;
    border: none;
    background-color: #f5f5f5;
}

.answer{
    background-color: transparent;
    padding:2%;
}

.faq-img{
    height: 110%;
    width:110%;
}

.faq-img-holder{
    padding-left: 30%;
}

.ask{
    padding: 2% 4.5%;
    margin-left: 2.7%;
}

/* specialists section */
.specialists-holder{
    border: 1px solid #0052FF;
    border-radius: 8px ;
}

.dr-img{
    width: 100%;
    height: 20%;
    border-radius: 8px 8px 0px 0px !important;
} 

.dr-details{
    padding: 6% 6%;
}

.dr-schedule{
    padding-top: 3%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

/* testimonials section */
.carousel-item{
    background-image: linear-gradient(rgba(0, 82, 255, 0.5), rgba(0, 82, 255, 0.5)), url("../images/carousel.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}



.review{
    margin: 3% 0;
}

.carousel-item .headers{
    padding-top: 7%;
}

.stars{
    padding-bottom: 5%;
}

.carousel-inner{
    position: relative;
}

.carousel-control-prev{
    position: absolute;
    top: 85%;
    left: 38%;
}

.carousel-control-next{
    position: absolute;
    top: 85%;
    right: 38%;
}

.carousel-icons{
    font-size: 2rem;
}

/* booking section */
.book-img{
    width: 95%;
    height: 85%;
}

.book-btn{
    margin-left: 0 !important;
}

.book-heading{
    margin-bottom: 4%;
}

.form-group{
    position: relative;
    padding-top:5%;
}

.label{
    background-color: white;
    position: absolute;
    top: 0%;
    left: 8%;
    padding: 1% 4%;
}

.form-control{
    border: 1px solid #0052FF;
    margin-bottom: 8% !important;
    padding: 6% 2% !important;
    height: 13%;
}


#map {
    height: 500px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}

/* contact section */
.contact-icons{
    width: 60px;
    height: 60px;
    margin-bottom: 2%;
    
}


/* footer section */
footer{
    background-color: #0052FF;
}

.icon-holders i{
    margin-right: 2%;
    font-size: 1.3rem;
}

.copyright{
    padding-top: 0.7%;
}

/* animations */



/* media queries */
@media  only screen and (max-width:1124px){
    .home{
        margin-left: 20%;
    }
}

@media  only screen and (min-width:1400px){
    .nav-holder{
        padding: 2.5% 0 1.3% 4.6% ;
    }
    
    .home{
        margin-left: 52%;
    }
}

@media  only screen and (min-width:1250px){
    .question p{
        font-size: 1.7rem;
    }
}

@media  only screen and (min-width:917px){
    .nav-sm-dropdown{
        display: none !important;
    }


}

@media  only screen and (max-width:917px){
    .nav-lg{
        display: none;
    }
    .nav-sm{
        display: flex;
        flex-direction: row;
        margin: 0;
        padding: 0;
        background-color: white;
        position: fixed;
        z-index: 45;
        width: 100%;
    }

    .droper{
        margin-left: 65%;
        display: block;
        padding: 0 ;
    }

    .icon{
        color: blue;
        font-size: 3rem;
    }

    .closeicon{
        font-size: 3rem;
        margin-left: 78%;
    }

    .brand-holder{
        padding-top: 3%;
    }

    .hero-div{
        height: 550px;
    }

    body{
        overflow-x: hidden !important;
    }
    .space{
        margin-bottom: 9%;
    }

   
    
}

@media  only screen and (max-width:917px)and (min-width:768px){
    .question p{
        margin-top: 4% !important;
    }
}

@media  only screen and (max-width:768px){
    .hero-div h1{
        font-size: 3rem;
        letter-spacing: 0.2rem;
    }
    
    .section{
        padding-top: 13%;
    }
  
    .hero-div{
        padding-top: 32%;
    }

    .space{
        margin-bottom: 9%;
    }

    .faq-img-holder{
        padding-left: 0;
        margin-top: 20%;
    }

    .headers{
        margin: 14% 0;
    }

    .carousel-icons{
        margin-bottom: 85%;
        
    }

    .stars{
        padding-bottom: 18%;
    }

    .img-holder{
        text-align: center;
    }
    
}

@media  only screen and (max-width:507px){

    .hero-div h1{
        font-size: 2.8rem;
    }

    .droper{
        margin-left: 46%;
    }

    .brand-holder{
        padding-top: 5%;
    }

    .question p{
        font-size: 0.85rem;
    }

    .section{
        padding-top: 19%;
    }

    body{
        overflow-x: hidden !important;
    }

    .closeicon{
        margin-left: 65%;
    }
}

